body {
	/*background-color: #696969;*/
	background-image: url("../images/background.jpg");
	font-family: Ariel, sans-serif;
}

header {
	background-color: #B8860B;
	border-bottom: 5px solid #785807;
	position:fixed;
	top: 0px;
	width: 100%;
	height: 110px;
	margin-bottom: 20px;
	z-index: 2;
}

a {
	color: #696969;
}

p {
	font-size: 16px;
	letter-spacing: 0;
}

.navigate {
	width: 200px;
	display: inline-block;
	color: #696969;
	position: absolute;
	left: 75%;
	top: 35%;
}

.name {
	display: inline-block;
	color: #2b506e;
	padding: 15px;
}

.social {
	width: 40px;
	height: 40px;
	display: inline-block;
	padding: 10px;
}

.profile {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 0px 15px 15px 0px;
}

.wrap {
	word-wrap: normal;
	margin-right: 15px;
	display: inline-block;
	position: absolute;
	top: 87px;
}

.wrap2 {
	word-wrap: normal;
	margin-right: 15px;
	display: inline-block;
	position: absolute;
	top: 287px;
}

.input {
	margin: 10px;
	width: 90%;
	overflow: hidden;
	position: relative;
}

.submit {
	margin: 10px;
	width: 100px;
	overflow: hidden;
	position: relative;
}

.message {
	width: 90%;
	height: 200px;
	margin: 10px;
	overflow: hidden;
	position: relative;
}

.move {
	border-right: 2px solid #696969;
	padding: 5px;
}

.move2 {
	padding: 5px;
}

section {
	background-color: #2b506e;
	color: #edf3f8;
	width: 60%;
	position: relative;
	top: 125px;
	left: 3%;
	padding: 15px;
	border: 5px solid #785807;
	display: inline-block;
}

aside {
	background-color: #2b506e;
	color: #edf3f8;
	border: 5px solid #785807;
	padding: 15px;
	display: inline-block;
	width: 200px;
	position: absolute;
	top: 135px;
	left: 70%;
}

footer {
	background-color: #B8860B;
	color: #2b506e;
	text-align: center;
	clear: both;
	padding: 15px;
	width: 100%;
	position: relative;
	bottom: -200px;
}

.pdiv {
	display: inline-block;
	position: relative;
	width: 44%;
	margin: 2.5%;
}

.pimg {
	width: 100%;
}

.banner {
	overflow: hidden;
	text-align: center;
	background-color: #696969;
	padding: 7.5px 0px 7.5px 0px;
	width: 100%;
	position: absolute;
	bottom: 0;
	
}

@media screen and (max-width: 980px) {
	header {
		position:fixed;
		top: 0px;
	}
	section {
		width: 60%;
		position: relative;
		top: 125px;
		left: 3%;
		display: inline-block;
	}
	aside {
		display: inline-block;
		width: 200px;
		position: absolute;
		top: 135px;
		left: 70%;
	}

	.pdiv{
		width: 90%;
		display: block;
		margin: auto;
	}

	.name {
		display: inline-block;
	}

	.navigate {
		left: 70%;
		top: 35%;
		display: inline-block;
	}
}

@media screen and (max-width: 768px) {
	header {
		position:fixed;
		top: 0px;
	}
	section {
		width: 88%;
		position: relative;
		top: 125px;
		left: 3%;
		display: block;
	}
	aside {
		display: block;
		width: 88%;
		position: relative;
		top: 135px;
		left: 3%;
	}
	
	.pdiv{
		width: 44%;
		display: inline-block;
		margin: 2.5%;
	}

	.name {
		display: inline-block;
	}

	.navigate {
		left: 65%;
		top: 35%;
		display: inline-block;
	}
}

@media screen and (max-width: 640px) {
	header {
		position:static;
		top: 0px;
	}
	section {
		width: 88%;
		position: relative;
		top: 15px;
		left: 3%;
		display: inline-block;
	}
	aside {
		display: inline-block;
		width: 88%;
		position: relative;
		top: 30px;
		left: 3%;
	}
	.pdiv {
		display: block;
		width: 90%;
		margin: auto;
	}

	.name {
		display: block;
		text-align: center;
		margin-bottom: 5px;
	}

	.navigate {
		position: unset;
		left: unset;
		top: unset;
		display: block;
		margin: auto;
		padding: 5px;
	}
}